/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define BASE 0
#define NUM 1
#define NAV 2
#define FN 3

&lt { quick_tap_ms = <180>; };

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "homerow mods";
            #binding-cells = <2>;
            tapping_term_ms = <180>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        BASE {
            bindings = <
                &kp Q       &kp W       &kp E      &kp R       &kp T          &kp Y      &kp U      &kp I      &kp O       &kp P
                &hm LSHFT A &hm LCTRL S &hm LALT D &hm LGUI F  &kp G          &kp H      &hm LGUI J &hm LALT K &hm LCTRL L &hm RSHFT SEMI
                &kp Z       &kp X       &kp C      &kp V       &kp B          &kp N      &kp M      &kp COMMA  &kp DOT     &kp FSLH
                                                   &mo NUM     &lt NAV SPACE  &kp ENTER  &lt FN BSPC
            >;
        };

        NUM {
            bindings = <
                &kp N1  &kp N2       &kp N3      &kp N4      &kp N5      &kp N6     &kp N7      &kp N8      &kp N9     &kp N0
                &trans  &trans       &trans      &trans      &trans      &kp MINUS  &kp EQL     &kp LBKT    &kp RBKT   &kp SQT
                &trans  &trans       &trans      &trans      &trans      &kp BSLH   &kp GRAV    &trans      &trans     &trans
                                                 &trans      &trans      &trans     &trans
            >;
        };

        NAV {
            bindings = <
                &trans  &trans       &trans      &trans      &trans     &trans    &kp HOME     &kp END     &trans      &trans
                &trans  &trans       &trans      &trans      &trans     &kp LEFT  &kp DOWN     &kp UP      &kp RIGHT   &trans
                &trans  &trans       &trans      &trans      &trans     &trans    &trans       &trans      &trans      &trans
                                                 &trans      &trans     &trans    &trans
            >;
        };

        FN {
            bindings = <
                &kp F1     &kp F2      &kp F3       &kp F4       &kp F5      &kp F6     &kp F7     &kp F8     &kp F9       &kp F10
                &kp TAB    &kp C_PREV  &kp C_VOL_DN &kp C_VOL_UP &kp C_NEXT  &trans     &trans     &trans     &kp F11      &kp F12
                &kp K_MUTE &kp C_PP    &trans       &trans       &kp DEL     &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3
                                                    &trans       &kp ESC     &trans   &trans
            >;
        };
    };
};
